[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]
pytest = "==5.0.1"

[packages]
loguru = "*"
pep8 = "*"
flake8 = "*"
autopep8 = "*"
ipython = "*"
pandas = "*"
handout = "*"
matplotlib = "*"
jupyter = "*"
seaborn = "*"

[requires]
python_version = "3.7"
